{%- extends "base.html.j2" %}
{%- block title -%}
    Page Not Found: {{ super() }}
{%- endblock title %}
{%- block content %}{%- endblock content %}
{%- block footer %}
            <div class="card-text">
                <p class="lead">
                    You may want to return to the <a href="{{ url_for('index') }}" title="main page">main page</a>.
                </p>
            </div>
{%- endblock footer %}
