{%- extends "base.html.j2" %}
{%- set TELEPHONE_HUMAN = "(" + TELEPHONE[:3] + ") " + TELEPHONE[3:6] + "-" + TELEPHONE[6:] %}
{%- macro render_field(field) %}
                      <div class="p-1">
                          {{ field.label(class_="form-label") }}
                          {{ field(class_="border border-dark form-control rounded") }}
                      </div>
{%- endmacro %}
{%- block css %}
         @media print {
                .noprint { display: none; }
                .card {
                    --bs-body-font-size: 0.7rem;
                    font-size: 0.7rem;
                    font-size-adjust: 0.7;
                }
                p { padding: 0; margin: 0; }
                a { text-decoration: none; }
            }
            a img { text-decoration: none }
            label { font-weight: bold; }
            .form-control { width: 20rem; margin: auto; text-align: center; }
{%- endblock css  %}
{%- block content %}
            <div class="row w-60 p-1 m-auto text-center">

                <div class="col">
                    <p class="card-text">
                        <a href="{{ url_for('static', filename='vet.png') }}" target="_blank">
                            <img src="{{ url_for('static', filename='vet.png') }}" class="card-img border border-dark rounded" alt="Chili at the vet.">
                        </a>
                        <br>
                        <em>Chili at the vet.</em>
                    </p>
                </div>

                <div class="col">
                    <p class="card-text">
                        <a href="{{ url_for('static', filename='attention.png') }}" target="_blank">
                            <img src="{{ url_for('static', filename='attention.png') }}" class="card-img border border-dark rounded" alt="Chili wanting attention.">
                        </a>
                        <br>
                        <em>Chili wanting attention.</em>
                    </p>
                </div>

            </div>

            <div class="card-text p-1 row">

                <ul class="list-group col">
                    <li class="list-group-item list-group-item-text">
                        <b>Gender</b> 🐈<br class="noprint">
                        Male ♂
                    </li>
                    <li class="list-group-item list-group-item-text">
                        <b>Age</b> 👴<br class="noprint">
                        Less than one (1) year.
                    </li>
                    <li class="list-group-item list-group-item-text">
                        <b>Weight</b> ⚖️<br class="noprint">
                        Approximately five (5) pounds.
                    </li>
                </ul>

                <ul class="list-group col">
                    <li class="list-group-item list-group-item-text">
                        <b>Neutered</b> ⚲<br class="noprint">
                        Yes ✅
                    </li>
                    <li class="list-group-item list-group-item-text">
                        <b>Micro-chipped</b> 🐾<br class="noprint">
                        Yes ✅
                    </li>
                    <li class="list-group-item list-group-item-text">
                        <b>Vaccinated</b> 💉<br class="noprint">
                        Yes ✅
                    </li>
                </ul>

            </div>

            <div class="card-text p-1">

                <p class="lead fw-bold">
                    &quot;Chili&quot; is young, hyper, playful, <em>very</em> cute,
                    and available to adopt at no cost!
                </p>
                <p>
                    Chili is desperate for a good home that is able to give him the love
                    and attention that he wants and needs. However, he may not be good with other pets,
                    since he has been jumping on and fighting with the older adult cat in the house now.
                </p>
                <p>
                    Chili includes medical/vaccination paperwork and microchip documentation,
                    as well as a cat carrier, cat food, food dish, cat toys, cat litter,
                    and a litter box (<i>with scoop and floor mat!</i>) - to the right forever-home.
                </p>

            </div>

            <div class="row w-60 p-1 m-auto text-center noprint">

                <div class="col">
                    <p class="card-text">
                        <a href="{{ url_for('static', filename='cuddle.png') }}" target="_blank">
                            <img src="{{ url_for('static', filename='cuddle.png') }}" class="card-img border border-dark rounded" alt="Chili cuddling.">
                        </a>
                        <br>
                        <em>Chili cuddling.</em>
                    </p>
                </div>

                <div class="col">
                    <p class="card-text">
                        <a href="{{ url_for('static', filename='blanket.png') }}" target="_blank">
                            <img src="{{ url_for('static', filename='blanket.png') }}" class="card-img border border-dark rounded" alt="Chili resting on a blanket.">
                        </a>
                        <br>
                        <em>Chili resting on a blanket.</em>
                    </p>
                </div>

            </div>

            <hr class="noprint">

            <div class="row w-60 p-1 m-auto text-center noprint">

                <div class="col">
                    <p class="card-text">
                        <iframe class="p-1 border border-dark rounded" src="https://www.youtube.com/embed/2pPj7qhU55c" title="Chilli swimming in a blanket." allow="encrypted-media; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                        <em>Chilli swimming in a blanket.</em><br>
                    </p>
                </div>

                <div class="col">
                    <p class="card-text">
                        <iframe class="p-1 border border-dark rounded" src="https://www.youtube.com/embed/5tCP16LO_78?si=TMlZKbH8G3Xkc5sk" title="Chilli chilling." allow="encrypted-media; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                        <em>Chilli chilling.</em>
                    </p>
                </div>

                <div class="col">
                    <p class="card-text">
                        <iframe class="p-1 border border-dark rounded" src="https://www.youtube.com/embed/BvsJHQ3ij8I" title="Chili playing." allow="encrypted-media; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                        <em>Chilli playing.</em>
                    </p>
                </div>

            </div>

            <hr class="noprint">

            <div class="row w-60 p-1 m-auto text-center noprint">
                <div class="col">

    {%- if form %}
                    <p class="card-text">
                        <em class="form-text">
                            Please fill out this form if you are interested in adopting Chili,
                            and would like to be contacted.
                        </em>
                    </p>

                    <form method="post">
                        {{ render_field(form.name) }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.phone) }}
                        <div class="p-1">
                            {{ form.submit(class_="btn btn-primary rounded") }}
                        </div>
                    </form>
    {%- else %}
                    <p class="card-text">
                        <em class="fw-bold form-text text-success">
                            Thank you for completing the form -
                            we will be in touch!
                        </em>
                    </p>
    {%- endif %}
                </div>

            </div>
{%- endblock content %}
{%- block footer %}
            <div class="card-text">
                <p>
                    Please contact &quot;Eric&quot; if you are interested,
                    via e-mail at <a href="mailto:{{ RECIPIENT }}?subject={{ SUBJECT }}" title="E-mail {{ RECIPIENT }}" data-bs-toggle="tooltip" data-bs-title="E-mail {{ RECIPIENT }}" data-bs-placement="top" target="_blank">{{ RECIPIENT }}</a> ✉️,
                    or call or text <a href="tel:+1{{ TELEPHONE }}" title="Call or text {{ TELEPHONE_HUMAN }}" data-bs-toggle="tooltip" data-bs-title="Call or text {{ TELEPHONE_HUMAN }}" data-bs-placement="top" target="_blank">{{ TELEPHONE_HUMAN }}</a> 📱<span class="noprint">, or fill out the form above</span>.
                </p>
                <p class="noprint text-secondary">
                    Chili is also listed on
                    <a href="https://www.adoptapet.com/pet/42281520-philadelphia-pennsylvania-cat" target="_blank" data-bs-toggle="tooltip" data-bs-title="AdoptAPet.com (Chili)" data-bs-placement="right">AdoptAPet.com here</a>.
                </p>
            </div>
{%- endblock footer %}
{%- block footer_js  %}
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        </script>
{%- endblock footer_js %}
