<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Eric O'Callaghan">
        <meta name="description" content="Chili is a young, hyper, playful, and VERY cute cat in Philadelphia. He is neutered, micro-chipped, vaccinated, and desperate for a good home.">
        <meta name="keywords" content="cat, feline, kitten, adopt, pet, animal, rescue, philadelphia, philly">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Adopt Chili 😿😻Philadelphia, Pennsylvania">
        <meta property="og:title" content="Adopt Chili 😿😻 Philadelphia, Pennsylvania">
        <meta property="og:description" content="Chili is a young, hyper, playful, and VERY cute cat in Philadelphia, Pennsylvania. He is neutered, micro-chipped, vaccinated, and desperate for a good home.">
        <meta property="og:url" content="{{ url_for('index', _external=True) }}">
        <meta property="og:image" content="{{ url_for('static', _external=True, filename='attention.png') }}">
        <title>Adopt Chili 😿😻 Philadelphia, Pennsylvania</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <style>
            @media print { .noprint { visibility: hidden; } }
            .card-img { width: 75%; }
        </style>
    </head>

    <body class="card">

        <header class="card-header">

            <div class="row m-auto text-center">

                <div class="col">
                    <div class="card-title">
                        <h1 class="card-text" title="Adopt Chili">
                            <a href="https://chili.ericoc.com/">Adopt Chili</a><br>
                            😿😻
                        </h1>
                        <h6 class="card-text text-secondary" title="Philadelphia, Pennsylvania">
                            Philadelphia, Pennsylvania
                        </h6>
                    </div>
                </div>

                <div class="col">
                    <div class="card-img" title="Share/visit this website: {{ url_for('index', _external=True) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Share/visit this website: {{ url_for('index', _external=True) }}">
                        <a href="{{ url_for('index', _external=True) }}">
                            <img src="{{ url_for('static', filename='qr.png') }}" class="border border-dark p-1 rounded" style="height: 7.5rem;" alt="Share/visit this website: {{ url_for('index', _external=True) }}">
                        </a>
                    </div>
                </div>

            </div>

        </header>

        <main class="card-body">

            <div class="row w-60 p-1 m-auto text-center">

                <div class="col">
                    <p class="card-text">
                        <a href="{{ url_for('static', filename='vet.png') }}" target="_blank">
                            <img src="{{ url_for('static', filename='vet.png') }}" class="card-img border border-dark rounded" alt="Chili at the vet.">
                        </a>
                        <br>
                        <em>Chili at the vet.</em>
                    </p>
                </div>

                <div class="col">
                    <p class="card-text">
                        <a href="{{ url_for('static', filename='attention.png') }}" target="_blank">
                            <img src="{{ url_for('static', filename='attention.png') }}" class="card-img border border-dark rounded" alt="Chili wanting attention.">
                        </a>
                        <br>
                        <em>Chili wanting attention.</em>
                    </p>
                </div>

            </div>

            <div class="card-text p-1 row">

                <ul class="list-group col">
                    <li class="list-group-item list-group-item-text">
                        <b>Gender</b> 🐈<br>
                        Male ♂
                    </li>
                    <li class="list-group-item list-group-item-text">
                        <b>Age</b> 👴<br>
                        Less than one (1) year.
                    </li>
                    <li class="list-group-item list-group-item-text">
                        <b>Weight</b> ⚖️<br>
                        Approximately five (5) pounds.
                    </li>
                </ul>

                <ul class="list-group col">
                    <li class="list-group-item list-group-item-text">
                        <b>Neutered</b> ⚲<br>
                        Yes ✅
                    </li>
                    <li class="list-group-item list-group-item-text">
                        <b>Micro-chipped</b> 🐾<br>
                        Yes ✅
                    </li>
                    <li class="list-group-item list-group-item-text">
                        <b>Vaccinated</b> 💉<br>
                        Yes ✅
                    </li>
                </ul>

            </div>

            <div class="card-text p-1">

                <h3 class="fw-bold lead">
                    &quot;Chili&quot; is young, hyper, playful, and <i>very</i> cute!
                </h3>
                <p>
                    Chili is desperate for a good home that is able to give him the love and attention that he wants and needs.
                    However, he may not be good with other pets, since he has been jumping on and fighting with the older adult cat in the house now.
                </p>
                <p>
                    Chili includes medical/vaccination paperwork and microchip documentation,
                    as well as a cat carrier, cat food, food dish, cat toys, cat litter,
                    and a litter box (<i>with scoop and floor mat!</i>) - to the right forever-home.
                </p>

            </div>

            <div class="row w-60 p-1 m-auto text-center">

                <div class="col">
                    <p class="card-text">
                        <a href="{{ url_for('static', filename='cuddle.png') }}" target="_blank">
                            <img src="{{ url_for('static', filename='cuddle.png') }}" class="card-img border border-dark rounded" alt="Chili cuddling.">
                        </a>
                        <br>
                        <em>Chili cuddling.</em>
                    </p>
                </div>

                <div class="col">
                    <p class="card-text">
                        <a href="{{ url_for('static', filename='blanket.png') }}" target="_blank">
                            <img src="{{ url_for('static', filename='blanket.png') }}" class="card-img border border-dark rounded" alt="Chili resting on a blanket.">
                        </a>
                        <br>
                        <em>Chili resting on a blanket.</em>
                    </p>
                </div>

            </div>


        </main>

        <footer class="card-footer">

            <div class="card-text">
                <p class="lead">
                    Please contact &quot;Eric&quot; if you are interested,
                    by e-mail at <a href="mailto:eric@ericoc.com?subject=Chili" title="E-mail eric@ericoc.com" data-bs-toggle="tooltip" data-bs-title="E-mail eric@ericoc.com" data-bs-placement="top" target="_blank">eric@ericoc.com</a> ✉️,
                    or call or text <a href="tel:+17577423742" title="Call or text (757) 742-3742" data-bs-toggle="tooltip" data-bs-title="Call or text (757) 742-3742" data-bs-placement="top" target="_blank">(757) 742-3742</a> 📱.
                </p>
                <p class="noprint text-secondary">
                    Chili is also listed on
                    <a href="https://www.adoptapet.com/pet/42281520-philadelphia-pennsylvania-cat" target="_blank" data-bs-toggle="tooltip" data-bs-title="AdoptAPet.com (Chili)" data-bs-placement="right">AdoptAPet.com here</a>.
                </p>
            </div>

        </footer>

        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        </script>

    </body>

</html>
